*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    color: rgb(71, 67, 67);
}

body {
    overflow: hidden;
}
/* 页面主体部分样式设置 */

.wrap {
    /* 备选方案2 */
    width: 100%;
    height: 100vh;
    /* 将对象作为弹性伸缩盒展示 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(to right top, #ccd5d9, #b4c9d3, #9dbdce, #85b1c9, #6ca5c5, #61a6bf, #5aa7b8, #57a7af, #7ab0a3, #9eb89f, #bbbea8, #cfc6b9); */
    background-image: linear-gradient(to right top, #98c7eb, #81baf5, #77aafd, #7f97ff, #947ffb, #7d89ff, #6492ff, #4c9aff, #00baff, #3dd4fc, #81ebf3, #bdfef1);
}
.wrap{
    width:100%;
    background:white;
    /* 固定背景图片达到视觉差效果 */
    background-attachment:fixed;
    background-size: cover;
    overflow-x: hidden;
}
/* 头部效果 */
header {
    /* 固定导航栏 */
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
width: 100%;
/* z-index: 10; */
padding: 20px 100px;
box-sizing: border-box;
display: flex;
justify-content: space-between;
align-items: center;
color: #fff;
overflow: hidden;
border-bottom: double white 1px;
background-color:rgba(245, 241, 241, 0.5);
}
header ul{
    padding-left: 1000px;
    list-style: none;
   display: flex;
   justify-content: center;
   align-items: center;
   }
   
   header ul li {
   font-size: 20px;
       font-weight: 400;
       margin-left: 5px;
       transition: all .5s linear;
       padding: 10px;
       border-radius: 20px;
       }
   header ul li:hover {
       background:rgba(255,255,255,0.5);
       color: #4a2c79;
       transform: scale(1.2);
       }
   header ul li.active {
       background:rgba(255,255,255,0.5);
       color: #2b1055;
       }
   a:link,a:visited{
       color:rgb(17, 17, 17);
       text-decoration:none;
       }
/* 导航栏部分 */
.nav{
    padding-right: 50px ;
  
}
.nav li{
    padding-right: 15px;
    font-family: 'Times New Roman',Times,serif;
  
}

/* logo图标部分 */
.logo{
    position: absolute;
    top:20px;
    left: 40px;
}
.logo img{
    width: 120px;
    height:120px;
    border-radius: 60px;
}

/* 注册表单样式 */

.form {
    width: 900px;
    height: 600px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}
/* form左侧  图片部分*/
.left {
    width: 500px;
    height: 600px;
}

.left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* form右侧 表单右侧 */
.right {
    width: 400px;
    height: 600px;
    background: rgba(255,255,255,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-con {
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
/* 生日选择年月日部分 */
.option{
    /*用div的样式代替select的样式*/
 
    /* border-radius: 15px; */
    
    /*盒子阴影修饰作用*/
    
    box-shadow: 0 0 5px #ccc;
    
    border: 1px solid #cccccc;
    
    position: relative;
    
    }
.option select{
    /*清除select的边框样式*/
    color: black;
    

    border: none;
    
    /*清除select聚焦时候的边框颜色*/
    
    outline: none;
    
    /*将select的宽高等于div的宽高*/
    
    width: 100%;
    
    height: 30px;
    
    line-height: 40px;
    
    /*隐藏select的下拉图标*/
    
    appearance: none;
    
    -webkit-appearance: none;
    
    -moz-appearance: none;
    
    /*通过padding-left的值让文字居中*/
    
    padding-left: 20px;
    
    }
/* 注册 标题 */
h1 {
    font-size: 26px;
    color: #937ee2;
    font-weight: 400;
    padding-bottom: 5px;
}
/* 注册 所填内容标题 */
h3 {
    font-size: 16px;
    font-weight: 400;
    color: #947ffb ;
    padding: 17px 0;
}
/* 填入表格的文字样式 */
.text {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #70b4e3;
    color: #366ae6;
    background-color: rgba(0, 0, 0, 0);
}
/* 按钮样式 */
.btn {
    width: 100%;
    height: 35px;
    border-radius: 20px;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 18px;

    background-image: linear-gradient(120deg,#A1C468 20%,#3d82c2 100%)
}

.btn:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}